<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title i18n="@List.title">Books</ion-title>
        <ion-buttons end>
            <!--TEMPORARY BUTTON  -->
            <button (click)="storageService.clearStorage()"><ion-icon name="trash"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar>
        <!--FILTER BOOKS LIST  -->
        <ion-searchbar 
            showCancelButton
            animated="true"
            debounce=300
            (ionInput)="search($event)"
            (ionCancel)="cancelSearch($event)">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <div *ngFor="let booksFromCollection of datas.getFilteredBooks()">
            <!--LIST HEADER  -->
            <ion-list-header>
                <span *ngIf="booksFromCollection[0].collection">
                    {{booksFromCollection[0].collection.name}}
                </span>
                <span *ngIf="!booksFromCollection[0].collection"
                    i18n="@@List.label.noCollection">
                    Others
                </span>
            </ion-list-header>

            <!--LIST ITEM  -->
            <ion-item-sliding *ngFor="let item of booksFromCollection">
                <button ion-item 
                    (click)="modifyBook(item)">
                    <!--VOLUME NUMBER AND TITLE  -->
                    <span *ngIf="item.volume">{{item.volume}} - </span> {{item.title}}
                    <!--AUTHOR  -->
                    <p>{{item.author?.firstName}} {{item.author?.lastName}}</p>
                    <!--STATUS ICON  -->
                    <ion-icon *ngIf="item.status === BookStatus.Owned" name="book" item-end></ion-icon>
                    <ion-icon *ngIf="item.status === BookStatus.Wanted" name="search" item-end></ion-icon>
                    <!--READ ICON  -->
                    <ion-icon
                        name="checkmark" 
                        item-end [color]="item.read === true ? 'primary' : 'exist'"></ion-icon>
                </button>
                <ion-item-options side="right">
                    <!--LOAN  -->
                    <button ion-button color="primary"
                        *ngIf="item.loanId != null"
                        (click)="returnBook(item)">
                        <ion-icon name="return"></ion-icon>
                        <span i18n="@List.button.return"> Return </span>
                    </button>
                    <button ion-button color="primary"
                        (click)="lendBook(item)"
                        [disabled]="item.status !== BookStatus.Owned">

                        <ion-icon *ngIf="item.loanId == null" name="share"></ion-icon>
                        <ion-icon *ngIf="item.loanId != null" name="eye"></ion-icon>
                        <span i18n="@List.button.loan"> Loan </span>
                    </button>
                    <!--DELETE  -->
                    <button ion-button color="danger">
                        <ion-icon name="trash"></ion-icon>
                        <span i18n="@List.button.delete"> Delete </span>
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </div>
    </ion-list>

    <!--NEW ITEM BUTTON  -->
    <!-- <ion-fab bottom right>
        <button ion-fab (click)="addItem()"><ion-icon name="add"></ion-icon></button>
    </ion-fab> -->
    <ion-fab bottom right >
        <button ion-fab><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="top">
            <button ion-fab (click)="goToIsbnCreation()">ISBN</button>
            <button ion-fab (click)="goToManualCreationpage()">Manual</button>
        </ion-fab-list>
    </ion-fab>
</ion-content>