<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Add a book</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form #form="ngForm">

        <!--TITLE  -->
        <ion-item>
            <ion-label i18n="@@AddBook.label.title">Title</ion-label>
            <ion-input 
                type="text"
                name="title" [(ngModel)]="book.title"
                required></ion-input>
        </ion-item>

        <!--AUTHOR  -->
        <ion-grid no-padding>
            <ion-row align-items-end>
                <ion-col col-9>
                    <ion-item>
                        <ion-label i18n="@@AddBook.label.author">Author</ion-label>
                        <ion-select 
                            name="author" [(ngModel)]="book.author" 
                            multiple="false" 
                            required
                            i18n-cancelText="@@AddBook.select.author.cancel" cancelText="Cancel" 
                            i18n-okText="@@AddBook.select.author.ok" okText="OK">

                            <ion-option *ngFor="let author of datas.getAuthors()" 
                                [value]="author">{{author.firstName}} {{author.lastName}}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col col-1>
                    <!--ADD AUTHOR  -->
                    <button ion-button icon-only item-end
                        (click)="showAlertAddAuthor()">
                        <ion-icon name="add"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
        
        <!--COLLECTION  -->
        <ion-item>
            <ion-label i18n="@@AddBook.label.collection">Collection</ion-label>
            <ion-input 
                type="text"
                name="collection" [(ngModel)]="book.collection.name"
                (input)="searchCollection($event)"></ion-input>
        </ion-item>
        <!--COLLECTIONS RESEARCH LIST  -->
        <ion-list *ngIf="!collectionSelected">
            <ion-item *ngFor="let collec of searchCollectionList"
                (click)="selectExistingCollection(collec)">
                <ion-label>{{collec.name}}</ion-label>
            </ion-item>
        </ion-list>

        <!--BOOK STATUS  -->
        <ion-segment name="status" [(ngModel)]="book.status">
            <ion-segment-button [value]="BookStatus.Wanted"
                i18n="@AddBook.label.status.wanted">
                <ion-icon name="search"></ion-icon>
                Wanted
            </ion-segment-button>
            <ion-segment-button [value]="BookStatus.Owned"
                i18n="@AddBook.label.status.owned">
                <ion-icon name="book"></ion-icon>
                Owned
            </ion-segment-button>
            <ion-segment-button [value]="BookStatus.None"
                i18n="@AddBook.label.status.none">
                <ion-icon name="close"></ion-icon>
                None
            </ion-segment-button>
        </ion-segment>
        
        <!--READ STATUS  -->
        <ion-segment name="read" [(ngModel)]="book.read">
            <ion-segment-button [value]="true"
                i18n="@AddBook.label.read.read">
                <ion-icon name="checkmark"></ion-icon>
                Read
            </ion-segment-button>
            <ion-segment-button [value]="false"
                i18n="@AddBook.label.read.unread">
                <ion-icon name="close"></ion-icon>
                Unread
            </ion-segment-button>
        </ion-segment>

        <!--SUBMIT  -->
        <button ion-button full
            type="submit" 
            (click)="save(form)"
            [disabled]="form.invalid"
            i18n="@@AddBook.button.save">Save</button>
    </form>
</ion-content>